.maintenance {
  text-align: center;
  padding: 150px;
  font: 20px Helvetica, sans-serif;
  color: #333;
  h1 {
      font-size: 50px;
  }
  article {
      display: block;
      text-align: left;
      width: 650px;
      margin: 0 auto;
  }
  a {
      color: #dc8100;
      text-decoration: none;
  }
  a:hover {
      color: #333;
      text-decoration: none;
  }
}